.bold {
  font-weight: 600;
}

.gray-text {
  color: #918e9b;
}

section {
  padding: 20px;
}

.navbar {
  padding: 22px 30px;
  box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.hero-container {
  padding: 26px 36px;
  display: flex;
  flex-direction: column;
}

.hero-img {
  height: 232px;
  align-self: center;
}

.hero-title {
  font-size: 36px;
  margin: 16px 0 5px 0;
}

.hero-text {
  max-width: 320px;
  line-height: 110%;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card-container {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto; /* ADD */
  display: flex; /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}

.card-container > * {
  margin: 4px 0;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-pic {
  display: block;
  width: 100%;
}

.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-star-icon {
  width: 14px;
}

.card-price {
  margin-top: auto;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
