.bold {
  font-weight: 600;
}

.gray-text {
  color: #918e9b;
}

.navbar {
  padding: 22px 30px;
  box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.hero-container {
  padding: 26px 36px;
  display: flex;
  flex-direction: column;
}

.hero-img {
  height: 232px;
  align-self: center;
}

.hero-title {
  font-size: 36px;
  margin: 16px 0 5px 0;
}

.hero-text {
  max-width: 320px;
  line-height: 110%;
}

.card-container {
  font-size: 12px;
}

.card-container > * {
  margin: 4px 0;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-pic {
  display: block;
  width: 176px;
}

.card-star-icon {
  width: 14px;
}
